<%= form_with model: team, local: true do |form| %>
    <div id="error_explanation", style="height:150px;">
      <% if @team.errors.any? %>
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>

<div>
  <%= form.text_field :name %>

  <%= form.label :is_solo, '個人', value: true %>
  <%= form.radio_button :is_solo, true %>

  <%= form.label :is_solo, 'チーム', value: false %>
  <%= form.radio_button :is_solo, false %>

  <%= form.submit '登録する' %>
</div>

<% end %>
