<%= form_with model: team, local: true do |form| %>
    <div id="error_explanation", style="height:100px;">
      <% if @team.errors.any? %>
        <h2><%= t('errors.template.header', model: Team.model_name.human, count: team.errors.count) %></h2>
      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>

<div class="form-team">
  <%= form.label :チーム名 %>
  <%= form.text_field :name, class: 'form-control' %>

  <div class="cp_ipradio">
    <%= form.label :is_solo, '個人', value: true %>
    <%= form.radio_button :is_solo, true, class: 'option-input radio' %>

    <%= form.label :is_solo, 'チーム', value: false %>
    <%= form.radio_button :is_solo, false, class: 'option-input radio' %>
  </div>

  <%= form.submit I18n.t('views.button.register'), class: 'custom-btn new-link' %>
</div>

<% end %>
