<p id='team-<%= team.id %>'>

  <span>チーム名：<%= link_to team.name, team_path(team) %></span>
  <span>使用用途：<%= team.is_solo ? '個人':'チーム' %></span>

  <% if current_user == team.owner %>
    <%= link_to 'チーム名編集', edit_team_path(team), data: { remote: true }, class: "btn" %>
    <%= link_to '削除', team_path(team), method: :delete, data: {confirm: '削除しますか？', remote: true }, class: "btn" %>
  <% end %>

</p>
