<h1 class="crud-title">チーム編集</h1>

<%= render 'form', team: @team %>
<br>
<%= link_to '戻る', team_path(@team), class: 'btn btn-flat-logo' %>
<hr>

<div class="team-edit-function">

  <div class="team-member-index">
    <p class="team-member-label">メンバー</p>
      <ul>
        <div class="team-owner-show">オーナー：<%=@team.owner.username%></div>
          <% @members.each do |member| %>
            <% if member.team.owner.id != member.user.id %>
              <% if member.team.owner.id != member.user.id %>
                <li class="team-edit-li"><%= member.user.username %></li>
                <%= link_to 'オーナー権限譲渡', owner_change_team_path(owner_id: member.user_id), method: :patch, class: 'btn btn-warning' %>
                <%= link_to 'チーム脱退', team_member_path(@team.id, member.id), method: :delete, data: { confirm: '脱退させますか？' },class: 'btn btn-danger' %>
              <% end %>
            <% end %>
          <% end %>
      </ul>
      <%= paginate @members %>
  </div>

  <div class="function-index-team-edit">
    <% if @team.is_solo == false %>
      <%= form_with model: @team, method: :post, url: team_members_path(@team.id), local: true do |form| %>
        <p>招待対象者が登録している事を確認し、<br>招待したい方のEmailアドレスを入力して、招待ボタンを押下して下さい。</p>
        <%= form.email_field :email, class: 'form-control' %>
        <%= form.submit '招待', class: 'btn-gradient-simple' %>
      <% end %>
    <% end %>
    <%= link_to 'チーム削除', team_path(@team), method: :delete, data: { confirm: 'チームを削除しますか？' }, class: 'btn-circle-flat' %>
  </div>

</div>
