<h1>Teams</h1>
<h3>チームの一覧です<br>

<hr>
<h6><%= sort_link(@q, :is_solo, '使用用途を揃える') %></h6>
<hr>
<p><%= link_to 'チーム登録', new_team_path %></p>
<hr>

<div class="row team-index-card">
  <% @teams.each do |team| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header">チーム名：<%= link_to team.name, team_path(team) %></div>
        <a href="/teams/<%= team.id %>" class="card-body">
          <h6 class="card-title">使用用途：<%= team.is_solo ? '個人':'チーム' %></h6>
          <p class="card-text">チームのintroductionカラムが必要かと思っている</p>
        </a>
      </div>
    </div>
  <% end %>
</div>

<hr>
<%= paginate @teams %>
