<h1 class="app-function-title"><span>Team or Solo</span>一覧</h1>

<div class="team-index-function-box">
  <div>
    <%= link_to 'チーム登録', new_team_path, class: 'custom-btn new-link' %>
  </div>

  <div class="search-box">
    <%= search_form_for @q, url: search_teams_path do |form| %>
      <%= form.label :name_cont, 'チーム名' %>
      <%= form.search_field :name_cont %>
      <%= form.submit '検索', class: 'btn btn-secondary' %>
    <% end %>
  </div>

  <div class="team-sort">
    <%= sort_link(@q, :is_solo, '使用用途を揃える') %>
  </div>
</div>

<div class="team-index-box">
  <div class="row">
    <% @results.each do |team| %>
      <div class="col-md-4">
        <div class="card stacked--fan-right">
          <div class="card-header">チーム名：<%= link_to team.name, team_path(team) %></div>
            <a href="/teams/<%= team.id %>">
              <p class="card-content">使用用途：<%= team.is_solo ? '個人':'チーム' %></p>
            </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @results %>
