<h1 class="app-function-title"><span>Team or Solo</span>一覧</h1>

<div class="team-index-function-box">
  <div>
    <%= link_to 'チーム登録', new_team_path, class: 'custom-btn new-link' %>
  </div>

  <div class="search-box">
    <%= search_form_for @q, url: search_teams_path do |form| %>
      <%= form.label :name_cont, 'チーム名' %>
      <%= form.search_field :name_cont, placeholder: 'チーム名で検索できます。' %>
      <%= form.submit '検索', class: 'btn btn-secondary' %>
    <% end %>
  </div>

  <div class="team-sort">
    <%= sort_link(@q, :is_solo, '使用用途を揃える') %>
  </div>
</div>

<table class="team-container table">
	<thead>
		<tr>
			<th><h1>チーム名</h1></th>
			<th><h1>使用用途</h1></th>
			<th><h1>オーナー</h1></th>
			<th><h1>メンバー数</h1></th>
		</tr>
	</thead>
	<tbody>
    <% @results.each do |team| %>
    <tr>
      <td class="main-info"><%= link_to team.name, team_path(team) %></td>
      <td class="sub-info"><%= team.is_solo ? '個人':'チーム' %></td>
      <td class="sub-info"><%= team.owner.username %></td>
      <td class="sub-info"><%= team.members.count %></td>
    </tr>
    <% end %>
	</tbody>
</table>

<%= paginate @results %>
