<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo
    <% else %>
      Team
    <% end %>
  </span>
  <%= @team.name %>
</h1>

<div class="team-show-function">

  <div class="team-member-index">
    <p>メンバー</p>
      <ul>
        <li class="team-show-li"><i class="fa fa-fort-awesome"></i><%= link_to @team.owner.username, team_member_path(@team.id, @owner.id) %></li>
        <% @members.each do |member| %>
          <% if member.team.owner.id != member.user.id %>
            <li class="team-show-li"><i class="fa fa-user"></i><%= link_to member.user.username, team_member_path(@team.id, member.id) %></li>
          <% end %>
        <% end %>
      </ul>
    <%= paginate @members %>
  </div>

  <div class="team-show">
    <%= link_to team_knowledges_path(@team), class: 'next-btn btn shine-btn' do %>
      <i class="fa fa-folder-o"> ナレッジ</i>
    <% end %>

    <%= link_to team_tags_path(@team), class: 'next-btn btn shine-btn' do %>
      <i class="fa fa-tag"> タグ</i>
    <% end %>

    <%= link_to team_group_path(@team.id, @team_chat.id), class: 'chat-btn btn' do %>
      <i class="fa fa-comments"> チームメッセージ</i>
    <% end %>

    <% if current_user == @team.owner %>
      <%= link_to edit_team_path(@team), class: 'edit-btn btn' do %>
        <i class="fa fa-pencil"> チーム編集</i>
      <% end %>
    <% end%>
  </div>

</div>

<hr>

<%= link_to '戻る', teams_path, class: 'btn-flat-logo' %>
