<h1 class="crud-title">チーム名：<%= @team.name %></h1>


<div class="team-show-function">

  <div class="team-member-index">
    <%# <div class="cp_tooltip">
      <span data-tooltip="個人メッセージはメンバーの名前をクリック！" class="cp_tooltiptext"><i class="fa fa-question-circle-o"></i></span> %>
    <%# </div> %>
    <p class="team-member-label">メンバー</p>
      <ul>
        <div class="team-owner-show">オーナー：<%= link_to @team.owner.username, team_member_path(@team.id, @owner.id) %></div>
        <% @members.each do |member| %>
          <% if member.team.owner.id != member.user.id %>
            <li class="team-show-li"><%= link_to member.user.username, team_member_path(@team.id, member.id) %></li>
          <% end %>
        <% end %>
      </ul>
    <%= paginate @members %>
  </div>

  <div class="function team">
    <div>
      <%= link_to 'ナレッジ', team_knowledges_path(@team), class: 'next-btn btn shine-btn' %>
    </div>

    <div>
      <%= link_to 'タグ', team_tags_path(@team), class: 'next-btn btn shine-btn' %>
    </div>

    <% if current_user == @team.owner %>
      <%= link_to 'チーム編集', edit_team_path(@team), class: 'edit-btn btn' %>
    <% end%>

    <%= link_to 'チームメッセージ', team_group_path(@team.id, @team_chat.id), class: 'chat-btn btn' %>
  </div>

</div>

<hr>

<%= link_to '戻る', teams_path, class: 'btn-flat-logo' %>
