<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo
    <% else %>
      Team
    <% end %>
  </span>
  <%= @team.name %>
</h1>

<div class="team-show">

  <div class="team-show-function">
    <%= link_to team_knowledges_path(@team), class: 'team-show-button' do %>
      <i class="fa fa-folder-o"> ナレッジ</i>
    <% end %>

    <%= link_to team_tags_path(@team), class: 'team-show-button' do %>
      <i class="fa fa-tag"> タグ</i>
    <% end %>

    <% if @team.is_solo? %>
      <%= link_to team_group_path(@team.id, @team_message.id), class: 'team-show-button' do %>
        <i class="fa fa-sticky-note"> メモ</i>
      <% end %>
    <% else %>
      <%= link_to team_group_path(@team.id, @team_message.id), class: 'team-show-button' do %>
        <i class="fa fa-comments"> チームメッセージ</i>
      <% end %>
    <% end %>

    <div class="random-member-button">
      <a class="js-modal-open team-show-button" href=""><i class="fa fa-random">1人ランダムで表示</i></a>
    </div>
      <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
      <div class="team-modal__content">
      <p><i class="fa fa-smile-o"></i> 選ばれた人 <i class="fa fa-smile-o"></i></p>
      <p><%= @random.user.username %></p>
        <h6><i class="fa fa-exclamation-circle"> 再抽選するにはこのページを再読み込みして下さい。</i></h6>
      <a class="js-modal-close" href="">閉じる</a>
      </div>
    </div>

    <% if current_user == @team.owner %>
      <%= link_to edit_team_path(@team), class: 'team-show-button' do %>
        <i class="fa fa-cogs"> チーム編集</i>
      <% end %>
    <% end%>
  </div>

  <div class="team-show-member">
    <p>メンバー</p>
      <ul>
        <li class="team-show-li"><%= image_tag @team.owner.image.url if @team.owner.image && @team.owner.image.url %><%= link_to @team.owner.username, team_member_path(@team.id, @owner.id), class: 'member-button' %></li>
        <% @members.each do |member| %>
          <% if member.team.owner.id != member.user.id %>
            <li class="team-show-li"><%= image_tag member.user.image.url if member.user.image && member.user.image.url %><%= link_to member.user.username, team_member_path(@team.id, member.id), class: 'member-button' %></li>
          <% end %>
        <% end %>
      </ul>
    <%= paginate @members %>
  </div>

</div>

<%= link_to '戻る', teams_path, class: 'btn-flat-logo' %>
