<h1>チーム名：<%= @team.name %></h1>

<hr>

<h2>メンバー</h2>

<p><strong>オーナー：<%= @team.owner.username %><%= link_to '詳細', team_member_path(@team.id, @owner.id) %></strong></p>

  <% @members.each do |member| %>
    <% if member.team.owner.id != member.user.id %>
      <span>・<%= member.user.username %></span>
      <%= link_to '詳細', team_member_path(@team.id, member.id) %>
  <br>
  <br>
    <% end %>
  <% end %>

<div><%= link_to 'ナレッジ一覧へ', team_knowledges_path(@team) %></div>
<div><%= link_to 'タグ一覧へ', team_tags_path(@team) %></div>

<hr>

<% if current_user == @team.owner %>
  <%= link_to '編集', edit_team_path(@team) %>
<% end%>

<hr>
<%= link_to '戻る', teams_path %>
<hr>

<h6>ストック一覧</h6>

<% @stocks.each do |stock| %>
  <p>・<%= link_to stock.knowledge.name, team_knowledge_path(@team, stock.knowledge_id) %></p>
<% end %>
