<h1>
  <span>チーム名:</span>
  <%= @team.name %>
</h1>

<hr>

<h2>
<strong>メンバー</strong>
</h2>

<p>
<strong>オーナー：<%= @team.owner.username %></strong>
</p>

  <% @members.each do |member| %>
    <% if member.team.owner.id != member.user.id %>
      <span>・<%= member.user.username %></span>
      <% if current_user == member.team.owner %>
        <%= link_to 'オーナー権利譲渡', owner_change_team_path(owner_id: member.user_id), method: :patch %>
        <%= link_to 'チーム脱退', secession_team_path(user_id: member.user_id), method: :delete %>
      <% end %>
  <br>
  <br>
    <% end %>
  <% end %>

<%= form_with(model: @team, method: :post, url: invitation_team_path, local: true) do |form| %>
  <%= form.email_field :email %>
  <%= form.submit '招待' %>
<% end %>

<%= link_to 'ナレッジ投稿へ', team_knowledges_path(@team) %>
