<h1>
  <span>チーム名:</span>
  <%= @team.name %>
</h1>

<hr>

<p>
<strong>メンバー</strong>
</p>

<% @members.each do |member| %>
  <span>・<%= member.user.username %></span>
  <br>
  <br>
<% end %>

<%= form_with(model: @team, method: :post, url: invitation_team_path, local: true) do |form| %>
  <%= form.email_field :email %>
  <%= form.submit '招待' %>
<% end %>
