<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Information
    <% else %>
      Team Member
    <% end %>
  </span>
  <%= @team.name %> <i class="fa fa-caret-right"></i> <%= @member.user.username %>
</h1>

<div class="profile-image">
  <%= image_tag @member.user.image.url, size: '400x300' if @member.user.image && @member.user.image.url %>
</div>

<div class="profile-user-settings">
  <h2 class="profile-user-name"><%= @member.user.username %></h2>
</div>

<div class="profile-stats">
  <ul>
    <li>
      <% if @member.id == @current_member.id %>
      <% else %>
        <% if @is_group == true %>
          <%= link_to team_group_path(params[:team_id], @group_id), class: 'btn user-show-btn' do %>
            メッセージへ
          <% end %>
        <% else %>
          <%= form_for @group, url: team_groups_path(params[:team_id])  do |f| %>
            <%= fields_for @group_member do |e| %>
              <%= e.hidden_field :member_id, value: @member.id %>
            <% end %>
            <%= f.submit "メッセージを始める", class: 'btn user-show-btn' %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

<div class="profile-bio">
  <p class="member-profile-bio"><i class="fa fa-flag"></i> 自己紹介</p>
  <span class="profile-real-name"><%= @member.user.introduction %></span>
</div>

<div class="profile-stock">
  <p class="stock-label"><i class="fa fa-star"></i> ナレッジストック一覧</p>

  <% if @current_member.id == params[:id].to_i %>
    <div class="stock-space">
      <% @stocks.each do |stock| %>
        <li><%= link_to stock.knowledge.name, team_knowledge_path(@team, stock.knowledge_id) %></li>
      <% end %>
      <%= paginate @stocks %>
    </div>
  <% else %>
    <div class="stock-space">
      <% @stocks.each do |stock| %>
        <li><%= stock.knowledge.name %></li>
      <% end %>
      <%= paginate @stocks %>
    </div>
  <% end %>
</div>

<div class="profile-return">
  <%= link_to '戻る', team_path(@team), class: 'btn-flat-logo' %>
</div>
