<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Memo
    <% else %>
      Team Message
    <% end %>
  </span>
    <% if @team.is_solo? %>
      メモ
    <% else %>
    <%= @team.name %> -メッセージ-
    <% end %>
</h1>

<div class="chat-content">
  <div class="chat-member">
    <p>-参加者-</p>
    <% @group_members.each do |gm| %>
      <p><%= gm.member.user.username%></p>
    <% end %>
    <%= paginate @group_members %>
  </div>

  <div class="chat-field">
    <% @messages.each do |message| %>
    <div class="chat bg-light p-4">
      <div class="message d-flex flex-row align-items-start mb-4">
        <div class="chat-name"><%= message.member.user.username %></div>
        <div class="message-text p-2 ms-2 mb-0"><%= message.body %></div>
        <div class="chat-status">
        <% if message.member_id == @current_member.id %>
          <% unless Read.where(message_id: message.id, is_checked: true).count.zero? %>
            <div>既読 <%= message.reads.where(is_checked: true).count %> / <%= message.reads.count %></div>
          <% end %>
        <% end %>
          <div><%= l message.created_at %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="chat-input">
  <%= form_for @message, url: team_messages_path(@team.id) do |form| %>
    <%= form.text_field :body, placeholder: 'メッセージを入力して下さい', class: 'form-control' %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.submit "投稿する", class: 'btn-gradient-simple' %>
    <%= link_to '戻る', team_path(@team), class: 'btn-flat-logo chat-btn-distance' %>
  <% end %>
</div>
