<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Memo
    <% else %>
      Team Message
    <% end %>
  </span>
    <% if @team.is_solo? %>
      メモ
    <% else %>
    <%= @team.name %> <i class="fa fa-caret-right"></i> メッセージ
    <% end %>
</h1>

<div class="member-list">
  <a class="js-modal-open" href="">参加者一覧 <%= @group_members.count %> 人</a>
</div>
<div class="modal js-modal">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <p>参加者</p>
      <% @group_members.each do |gm| %>
        <p><i class="fa fa-user"></i> <%= gm.member.user.username%></p>
      <% end %>
      <a class="js-modal-close" href="">閉じる</a>
    </div>
</div>

<div class="message-content">
  <div class="message-field">
    <% @messages.each do |message| %>
    <div class="message bg-light p-4">
      <div class="message-name"><span><%= message.member.user.username %></span></div>
      <div class="message d-flex flex-row align-items-start mb-3">
        <div class="message-text p-2 ms-2 mb-0"><%= markdown(message.body).html_safe %></div>
        <div class="message-status">
        <% if message.member_id == @current_member.id %>
          <%= link_to team_message_path(@team.id, message), method: :delete, data: { confirm: 'メッセージを削除しますか？' } do%>
            <i class="fa fa-trash-o"></i>
          <% end %>
            <% if Read.where(message_id: message.id, is_checked: true).present? %>
              <span>既読 <%= message.reads.where(is_checked: true).count %> / <%= message.reads.count %></span>
            <% end %>
        <% end %>
        <div><%= l message.created_at %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="message-input">
  <%= form_for @message, url: team_messages_path(@team.id) do |form| %>
    <%= form.hidden_field :group_id, value: @group.id %>
    <%= form.text_area :body, placeholder: 'メッセージを入力して下さい。', class: 'form-control', id: 'input-message' %>
    <%= form.button class: 'message-button', id: 'button1', disabled: true do %>
      <i class="fa fa-paper-plane-o"> 送信</i>
    <% end %>
  <% end %>
</div>

<%= link_to '戻る', team_path(@team), class: 'btn-flat-logo' %>


<script>
  $("#input-message").on("input", function () {
    var input = $(this).val();

    if (input) {
      $("#button1").prop('disabled', false);
    } else {
      $("#button1").prop('disabled', true);
    }
  });
</script>
