<header class="py-3 bg-image-full">
    <div class="text-center my-4">
        <div>
            <div class="error-box">
                <% if notice %>
                    <span class="alert alert-notice"><%= notice %></span>
                <% end %>
                <% if alert %>
                    <span class="alert alert-error"><%= alert %></span>
                <% end %>
            </div>
            <h1 class="text-white fw-bolder" id="reco-main">Reco!</h1>
            <h2 class="text-white fw-bolder">情報を記録・管理・共有できるアプリ</h2>
            <h3 class="text-white">未来のために記録を残しましょう</h3>
        </div>
    </div>
        <div class="text-center my-5">
            <button class="top-btn"><a href="/users/sign_in"><%= I18n.t('views.messages.sign_in') %></a></button>
            <button class="top-btn"><a href="/users/sign_up"><%= I18n.t('views.messages.sign_up') %></a></button>
            <button class="top-btn guest-btn"><%= link_to I18n.t('views.messages.guest_sign_in'), users_guest_sign_in_path, method: :post %></button>
            <button class="top-btn admin-guest-btn"><%= link_to I18n.t('views.messages.admin_guest_sign_in'), users_admin_guest_sign_in_path, method: :post %></button>
        </div>
</header>

<section class="py-3">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>日々行った事を、<br>簡単に記録・管理・共有したい。</h2>
                <hr>
                <p class="reco-work">Reco! はそのお悩みを解消します。</p>
                <p class="reco-work">チームで使用しナレッジを高めましょう！<br>もちろん個人での利用も可能です。</p>
                <p>使用方法によっては、<br>日常のあらゆるシーンで活躍するはずです！</p>
                <p class="reco-work">主な機能を3つ紹介します。</p>
            </div>
        </div>
    </div>
</section>

<div class="py-2 bg-image-full">
    <div>
        <h3 class="reco-function-title">機能①</h3>
            <div class="text-center my-5">
                <div class="reco-function-content">
                    <h3 class="text-white mt-5">個人・チーム機能</h3>
                    <p class="text-white">簡単にチームを作成する事ができます。<br>チームへの招待は、登録されたメールアドレスにより行います。</p>
                </div>
                <div class="reco-function-content">
                    <%= image_tag 'top1.png', size: '500x350' %>
                </div>
            </div>
    </div>
</div>

<div class="py-2 my-5 bg-image-full ">
    <div>
        <h3 class="reco-function-title">機能②</h3>
            <div class="text-center my-5">
                <div class="reco-function-content">
                    <h3 class="text-white mt-5">メッセージ機能</h3>
                    <p class="text-white">1対1から複数人でのやり取りが可能です。<br>チームに参加した時点で、チームメッセージに参加しているので、<br>すぐにメッセージでのやり取りが可能です。</p>
                </div>
                <div class="reco-function-content">
                    <%= image_tag 'top2.png', size: '500x350' %>
                </div>
            </div>
    </div>
</div>

<div class="py-2 my-5 bg-image-full ">
    <div>
        <h3 class="reco-function-title">機能③</h3>
            <div class="text-center my-5">
                <div class="reco-function-content">
                    <h3 class="text-white mt-5">ナレッジ・ティップ機能</h3>
                    <p class="text-white">ナレッジが親項目、ティップが子項目として機能します。<br>ティップを蓄積していきましょう。</p>
                </div>
                <div class="reco-function-content">
                    <%= image_tag 'top3.png', size: '500x350' %>
                </div>
            </div>
    </div>
</div>

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="mb-0 text-center">これらの機能を駆使して頂く事により、<br>生活のお役に立てれば光栄です。<br>では、よろしくお願いします。</p>
            </div>
        </div>
    </div>
</section>

<button id="scroll-to-top-btn"><i class="fa fa-arrow-up"></i></button>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Reco! 2021</p></div>
</footer>


<script>
    ScrollReveal().reveal('.reco-function-content', {
    duration: 1600,
    scale: 0.1,
});


ScrollReveal().reveal('#reco-main', {
    duration: 1600,
    scale: 4,
});


const scroll_to_top_btn = document.querySelector('#scroll-to-top-btn');

scroll_to_top_btn.addEventListener( 'click' , scroll_to_top );
function scroll_to_top(){
    window.scroll({top: 0, behavior: 'smooth'});
};

window.addEventListener( 'scroll' , scroll_event );
function scroll_event(){
    if(window.pageYOffset > 400){
    scroll_to_top_btn.style.opacity = '1';
    }else if(window.pageYOffset < 400){
    scroll_to_top_btn.style.opacity = '0';
    }
};
</script>
