<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: User.model_name.human, count: @user.errors.count) %></h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-user-edit">

      <%= form.label :名前 %>
      <%= form.text_field :username, class: 'form-control' %>

      <%= form.label :メールアドレス %>
      <%= form.email_field :email, class: 'form-control' %>

      <%= image_tag @user.image.url, size: '300x200' if @user.image && @user.image.url %>
      <%= form.hidden_field :image_cache %>

      <div class="image-field">
        <%= form.label :image, '画像', class: 'image_input_btn' %>
        <%= form.file_field :image, class: 'image_form' %>
        <%= form.submit value: "設定している画像を削除する。",name: "delete_image",data: { confirm: "画像を削除しますか？"}, class:'btn btn-danger' %>
      </div>

      <%= form.label :自己紹介 %>
      <%= form.text_area :introduction, class: 'form-control area-field' %>

      <%= form.label :パスワード %>
      <%= form.password_field :password, class: 'form-control' %>


      <%= form.label :パスワード確認 %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>

    <div class="action">
      <%= form.submit "編集する", class: "send", class: 'btn' %>
    </div>
  </div>
<% end %>
