
<p><%= image_tag @user.image.url, size: '500x400' if @user.image && @user.image.url %></p>

<p><%= @user.username %>のページ</p>
<p>メールアドレス: <%= @user.email %></p>
<p>自己紹介: <%= @user.introduction %></p>

<% if current_user == User.find(params[:id]) %>
  <%= link_to 'ユーザ情報を編集する', edit_user_path %>
<% end %>

<br>

<%= link_to '個人記録・チーム記録へ', teams_path %>
