<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tag
    <% else %>
      Team Tag
    <% end %>
  </span>
  <%= @team.name %> -タグ一覧-
</h1>

<div>
  <% if @team.owner.id == current_user.id %>
    <%= link_to 'タグ登録', new_team_tag_path, class: 'custom-btn new-link' %>
  <% end %>
</div>

<div class="tag-index">
  <% @tags.each do |tag| %>
    <li>
      <%= tag.name %>
      <% if @team.owner.id == current_user.id %>
        <%= link_to '削除', team_tag_path(@team, tag), method: :delete, data: { confirm: 'タグを削除しますか？' }, class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</div>

<%= paginate @tags %>

<hr>
<%= link_to '戻る', team_path(@team), class: 'btn-flat-logo' %>
