<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tag
    <% else %>
      Team Tag
    <% end %>
  </span>
  <%= @team.name %> <i class="fa fa-caret-right"></i> タグ登録
</h1>

<%= form_with model: @tag, url: team_tags_path(@team), local: true do |form| %>
  <div id="error_explanation", style="margin-left:500px;">
    <% if @tag.errors.any? %>
      <h2><%= t('errors.template.header', model: Tag.model_name.human, count: @tag.errors.count) %></h2>
    <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>

  <div class="tag-new-form">
      <%= form.label :タグ名 %>
      <%= form.text_field :name, class: 'form-control', placeholder: 'タグ名を入力して下さい。' %>
      <%= form.submit I18n.t('views.button.register'), class: 'custom-btn new-link' %>
  </div>
<% end %>
<br>
<%= link_to '戻る', team_tags_path, class: 'btn-flat-logo' %>
