<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tip
    <% else %>
      Team Tip
    <% end %>
  </span>
  <%= @team.name %> -<%= @knowledge.name %>- -<%= @tip.name %>-
</h1>

<%= form_with model: @tip, url: team_knowledge_tip_path, local: true do |form| %>
  <div id="error_explanation", style="float: right;">
    <% if @tip.errors.any? %>
      <h2><%= t('errors.template.header', model: Tip.model_name.human, count: @tip.errors.count) %></h2>
    <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>

  <div class="tip-name">
    <%= form.label :name, 'ティップ名' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="tip-content">
    <%= form.label :content, '内容' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="tip-tag">
    <%= form.label :タグ： %>
    <% @tip.team.tags.each do |tag| %>
      <%= form.label :tag_ids, tag.name, value: tag[:id] %>
      <%= form.check_box :tag_ids, { multiple: true, checked: @tip.tags.find_by(id: tag.id).present?, include_hidden: false }, tag[:id] %>
    <% end %>
  </div>

  <div class='pictures-area'>
    <% n = 1 %>
    <% @tip.pictures.each_with_index do |picture| %>
      <span>画像<%= n %></span>
      <div class="tip-picture"><%= image_tag picture.image.url, size: '300x200' if picture.image && picture.image.url %></div>
      <% n += 1 %>
    <% end %>
  </div>

    <div class="tip-file-field">
      <%= form.fields_for :pictures  do |picture| %>
          <div class="tip-file-select">
            <%= picture.hidden_field :image_cache %>
            <%= picture.file_field :image %>
          </div>
      <% end %>
    </div>

  <div class="tip-function">
    <div>
      <%= form.submit value: "画像１を削除する。", name: "delete_image1",data: { confirm: "画像１を削除しますか？"}, class:'btn btn-danger tip-picture-d' %>
      <%= form.submit value: "画像２を削除する。", name: "delete_image2",data: { confirm: "画像２を削除しますか？"}, class:'btn btn-danger tip-picture-d' %>
      <%= form.submit value: "画像３を削除する。", name: "delete_image3",data: { confirm: "画像３を削除しますか？"}, class:'btn btn-danger tip-picture-d' %>
      <%= form.submit value: "画像を全て削除する。", name: "delete_image",data: { confirm: "画像を全て削除しますか？"},class:'btn btn-danger tip-picture-d' %>
    </div>

    <div class="tip-function">
      <div>
        <%= form.submit I18n.t('views.button.register'), class: 'custom-btn new-link tip-edit-btn' %>
        <%= link_to '戻る', team_knowledge_tip_path, class: 'btn-flat-logo tip-edit-btn' %>
        <%= link_to '削除', team_knowledge_tip_path(@team.id, @knowledge.id, @tip.id), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-danger tip-edit-btn' %>
      </div>
    </div>
  </div>
<% end %>
