<h1>Tip編集</h1>
<hr>

<%= form_with model: @tip, url: team_knowledge_tip_path, local: true do |form| %>
  <div id="error_explanation", style="height:150px;">
    <% if @tip.errors.any? %>
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this team from being saved:</h2>
    <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>

  <%= form.label :タイトル %>
  <%= form.text_field :name %>
<br>
  <%= form.label :内容 %>
  <%= form.text_area :content %>
<br>

<div class='pictures_area'>
  <% @tip.pictures.each do |picture| %>
    <%= image_tag picture.image.url, size: '300x200' if picture.image && picture.image.url %>
  <% end %>
</div>

  <%= form.fields_for :pictures  do |picture| %>
    <%= picture.file_field :image %>
    <%= picture.hidden_field :image_cache %>
  <% end %>

  <%= form.submit '登録' %>
<% end %>
<br>
<%= link_to '戻る', team_knowledge_tip_path %>
