<h1>Tip編集</h1>
<hr>

<%= form_with model: @tip, url: team_knowledge_tip_path, local: true do |form| %>
  <div id="error_explanation", style="height:150px;">
    <% if @tip.errors.any? %>
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this team from being saved:</h2>
    <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>

  <%= form.label :タイトル %>
  <%= form.text_field :name %>
<br>
  <%= form.label :内容 %>
  <%= form.text_area :content %>
<br>
  <% @tip.team.tags.each do |tag| %>
    <%= form.check_box :tag_ids, { multiple: true, checked: @tip.tags.find_by(id: tag.id).present?, include_hidden: false }, tag[:id] %>
    <label><%= tag.name %></label>
  <% end %>

<div class='pictures_area'>

  <% n = 1 %>
  <% @tip.pictures.each do |picture| %>
    <label>画像<%= n %></label>
    <%= image_tag picture.image.url, size: '300x200' if picture.image && picture.image.url %>
    <% n += 1 %>
  <% end %>

  <div class="test-field">
    <%= form.fields_for :pictures  do |picture| %>
        <div class="test-field2">
          <%= picture.hidden_field :image_cache %>
          <%= picture.file_field :image %>
        </div>
    <% end %>
  </div>

</div>

    <%= form.submit value: "画像１を削除する。", name: "delete_image1",data: { confirm: "画像１を削除しますか？"}, class:'btn btn-danger' %>
    <%= form.submit value: "画像２を削除する。", name: "delete_image2",data: { confirm: "画像２を削除しますか？"}, class:'btn btn-danger' %>
    <%= form.submit value: "画像３を削除する。", name: "delete_image3",data: { confirm: "画像３を削除しますか？"}, class:'btn btn-danger' %>
    <%= form.submit value: "画像を全て削除する。", name: "delete_image",data: { confirm: "画像を全て削除しますか？"},class:'btn btn-danger' %>


  <%= form.submit '登録' %>
<% end %>
<br>
<%= link_to '戻る', team_knowledge_tip_path %>
