<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tip
    <% else %>
      Team Tip
    <% end %>
  </span>
  <%= @team.name %> -ティップ一覧-
</h1>

<div class="tip-index-function-box">
  <div>
    <%= link_to 'ティップ登録', new_team_knowledge_tip_path, class: 'custom-btn new-link' %>
  </div>

  <div class="tip-search-box">
    <%= search_form_for @q, url: search_team_knowledge_tips_path do |f| %>
      <%= f.label :name_cont, 'ティップ名' %>
      <%= f.search_field :name_cont, placeholder: 'ティップ名で検索できます。' %>
      <%= f.label :tags_name_cont, 'タグ名' %>
      <%= f.search_field :tags_name_cont, placeholder: 'タグ名で検索できます。' %>
      <%= f.submit '検索', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>

<div class="tip-index-box">
  <div class="row">
    <% @tips.each do |tip| %>
      <div class="col-md-4">
        <div class="card stacked--fan-right">
          <div class="card-header">ティップ名：<%= link_to tip.name, team_knowledge_tip_path(@team, @knowledge, tip) %></div>
            <a href="/teams/<%= @team.id %>/knowledges/<%= @knowledge.id %>/tips/<%= tip.id %>">
              <% tip.tags.each do |tag| %>
                <p class="card-content">タグ：<%= tag.name %>  </p>
              <% end %>
              <p class="card-content">作成者：<%= tip.member.user.username %></p>
              <p class="card-content">更新日：<%= l tip.updated_at %></p>
            </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @tips %>

<%= link_to '戻る', team_knowledge_path(@team.id,@knowledge.id), class: 'btn-flat-logo' %>
