<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tip
    <% else %>
      Team Tip
    <% end %>
  </span>
  <%= @team.name %> -<%= @knowledge.name %>- -ティップ登録-
</h1>

<%= form_with model: @tip, url: team_knowledge_tips_path(@team.id, @knowledge.id), local: true do |form| %>
  <div id="error_explanation">
    <% if @tip.errors.any? %>
      <h2><%= t('errors.template.header', model: Tip.model_name.human, count: @tip.errors.count) %></h2>
    <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>

<div class="tip-new-form">
  <div class="tip-label">
    <%= form.label :name, 'ティップ名' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="tip-content">
    <%= form.label :content, '内容' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="tip-tag">
    <%= form.label :tag_ids, 'タグ：' %>
    <% @team.tags.all.each do |tag| %>
      <%= form.label :tag_ids, tag.name, value: tag[:id] %>
      <%= form.check_box :tag_ids, { multiple: true, checked: @tip.tags.find_by(id: tag.id).present?, include_hidden: false }, tag[:id] %>
    <% end %>
  </div>

  <div class="tip-image">
    <%= form.fields_for :pictures  do |picture| %>
      <%= picture.file_field :image %>
    <% end %>
  </div>

  <%= form.submit I18n.t('views.button.register'), class: 'custom-btn new-link' %>
<% end %>
</div>

<%= link_to '戻る', team_knowledge_tips_path, class: 'btn-flat-logo' %>
