<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tip
    <% else %>
      Team Tip
    <% end %>
  </span>
  <%= @team.name %> <i class="fa fa-caret-right"></i> <%= @knowledge.name %> <i class="fa fa-caret-right"></i> ティップ一覧
</h1>

<div class="tip-index-function-box">
  <div>
    <%= link_to 'ティップ登録', new_team_knowledge_tip_path, class: 'custom-btn new-link' %>
  </div>

  <div class="tip-search-box">
    <%= search_form_for @q, url: search_team_knowledge_tips_path do |f| %>
      <%= f.label :name_cont, 'ティップ名' %>
      <%= f.search_field :name_cont, placeholder: 'ティップ名で検索できます。' %>
      <%= f.label :tags_name_cont, 'タグ名' %>
      <%= f.search_field :tags_name_cont, placeholder: 'タグ名で検索できます。' %>
      <%= f.submit '検索', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>

<div class="tip-index-box">
  <div class="row">
    <% @results.each do |tip| %>
      <div class="col-md-4">
        <div class="card stacked--fan-right">
          <a href="/teams/<%= @team.id %>/knowledges/<%= @knowledge.id %>/tips/<%= tip.id %>">
            <p class="tip-card-content">ティップ名：<%= tip.name %></p>
            <% if tip.tags.present? %>
              <p class="tip-card-content">タグ：
                <% tip.tags.each do |tag| %>
                  <span ><%= tag.name %>  </span>
                <% end %>
              </p>
            <% end %>
            <div class="create-info">
              <p class="tip-card-content">作成者：<%= tip.member.user.username %></p>
              <p class="tip-card-content">更新日：<%= l tip.updated_at %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @results %>

<%= link_to '戻る', team_knowledge_path(@team.id,@knowledge.id), class: 'btn-flat-logo' %>
