<h1 class="crud-title">ティップ一覧</h1>

<%= link_to 'ティップ登録', new_team_knowledge_tip_path, class: 'custom-btn new-link' %>

<div class="search-box">
  <div class="team-search">
    <%= search_form_for @q, url: search_team_knowledge_tips_path do |f| %>
      <%= f.label :name_cont, 'ティップス名' %>
      <%= f.search_field :name_cont %>
      <%= f.label :tags_name_cont, 'タグ名' %>
      <%= f.search_field :tags_name_cont %>
      <%= f.submit '検索', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
<hr>

<div class="row index-card">
  <% @results.each do |tip| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <a href="/teams/<%= @team.id %>/knowledges/<%= @knowledge.id %>/tips/<%= tip.id %>" class="card-body">
          <p class="card-title knowledge-title">ティップス名</p>
          <p><%= tip.name %></p>
            <% tip.tags.each do |tag| %>
              <h6 class="card-title">タグ：<%= tag.name %></h6>
            <% end %>
          <h6>作成者：<%= tip.member.user.username %></h6>
        </a>
      </div>
    </div>
  <% end %>
</div>

<hr>
<%= link_to '戻る', team_knowledge_path(@team.id,@knowledge.id), class: 'btn-flat-logo' %>
