<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Tip
    <% else %>
      Team Tip
    <% end %>
  </span>
  <%= @team.name %> <i class="fa fa-caret-right"></i> <%= @knowledge.name %> <i class="fa fa-caret-right"></i> <%= @tip.name %>
</h1>

<div class="tip-show-box">

  <h4 class="tip-show-label">ティップ名</h4>
  <div class="tip-show-name">
    <p><%= @tip.name %></p>
  </div>

  <h4 class="tip-show-label">内容</h4>
  <div class="tip-show-content">
    <p><%= markdown(@tip.content).html_safe %></p>
  </div>

  <h4 class="tip-show-label">タグ</h4>
  <div class='tip-show-tag'>
    <% @tip.tags.each do |tag| %>
      <p><i class="fa fa-tag"></i> <%= tag.name %></p>
    <% end %>
  </div>

  <h4 class="tip-show-label">画像</h4>
  <div class="pictures-area">
    <% @tip.pictures.each do |picture| %>
      <%= link_to picture.image.url, 'data-lightbox': picture do %>
        <div class="tip-picture"><%= image_tag picture.image.url, size: '300x200' if picture.image && picture.image.url %></div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="tip-show">
  <% if @tip.member.user.id == current_user.id %>
    <%= link_to 'ティップ編集', edit_team_knowledge_tip_path(@team.id, @knowledge.id, @tip.id), class: 'tip-show-button' %>
  <% end %>
  <%= link_to '戻る', team_knowledge_tips_path, class: 'btn-flat-logo' %>
</div>
