<h1 class='crud-title'>ティップス詳細</h1>

<p class="tip-line">タイトル</p>
<div><%= @tip.name %></div>

<hr>

<p class="tip-line">内容</p>
<div><%= markdown(@tip.content).html_safe %></div>

<hr>

<p class="tip-line">画像</p>
<div class="pictures-area">
  <% @tip.pictures.each do |picture| %>
    <%= link_to picture.image.url, 'data-lightbox': picture do %>
      <div class="tip-picture"><%= image_tag picture.image.url, size: '300x200' if picture.image && picture.image.url %></div>
    <% end %>
  <% end %>
</div>

<hr>

<div class="function">
  <%= link_to '編集', edit_team_knowledge_tip_path(@team.id, @knowledge.id, @tip.id), class: 'edit-btn btn' %>
  <%= link_to '戻る', team_knowledge_tips_path, class: 'btn-flat-logo' %>
</div>
