<h1>Tip詳細</h1>
<hr>

<h2>タイトル</h2>
<p><%= @tip.name %></p>
<hr>
<h2>内容</h2>
<p><%= @tip.content %></p>
<h2>画像</h2>
<% @tip.pictures.each do |picture| %>
  <%= image_tag picture.image.url, class: 'luminous' %>
<% end %>
<hr>

<%= link_to '編集', edit_team_knowledge_tip_path(@team.id, @knowledge.id, @tip.id) %>
<br>
<%= link_to '削除', team_knowledge_tip_path(@team.id, @knowledge.id, @tip.id), method: :delete, data: { confirm: '削除しますか？' } %>
<br>
<%= link_to '戻る', team_knowledge_tips_path %>
