<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Knowledge
    <% else %>
      Team Knowledge
    <% end %>
  </span>
  <%= @team.name %> -ナレッジ登録-
</h1>

<%= form_with model: @knowledge, url: team_knowledges_path(@team), local: true do |form| %>
  <div id="error_explanation", style="height:100px;">
    <% if @knowledge.errors.any? %>
      <h2><%= t('errors.template.header', model: Knowledge.model_name.human, count: @knowledge.errors.count) %></h2>
    <ul>
      <% @knowledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="form-knowledge">
    <%= form.label :ナレッジ名 %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= form.submit I18n.t('views.button.register'), class: 'custom-btn new-link' %>
  </div>
<% end %>

<%= link_to '戻る', team_knowledges_path, class: 'btn-flat-logo' %>
