<h1 class="app-function-title">
  <span>
    <% if @team.is_solo? %>
      Solo Knowledge
    <% else %>
      Team Knowledge
    <% end %>
  </span>
  <%= @team.name %> -<%= @knowledge.name %>-
</h1>

<div class="knowledge-show">

  <%= link_to team_knowledge_tips_path(@team.id, @knowledge.id), class: 'next-btn btn shine-btn' do %>
    <i class="fa fa-file-text"> ティップ</i>
  <% end %>

  <%= link_to edit_team_knowledge_path(@team, @knowledge), class: 'edit-btn btn' do %>
    <i class="fa fa-pencil"> ナレッジ編集</i>
  <% end %>


  <% if @stock.present? %>
    <%= link_to team_knowledge_stock_path(@knowledge.team_id, @knowledge, params[:id]), method: :delete, class: 'stock-btn sad' do %>
      <i class="fa fa-star"> ストック解除</i>
    <% end %>
  <% else %>
    <%= link_to team_knowledge_stocks_path(@knowledge.team_id, @knowledge), method: :post, class: 'stock-btn fine' do %>
      <i class="fa fa-star-o"> ストック登録</i>
    <% end %>
  <% end %>

</div>

<%= link_to '戻る', team_knowledges_path, class: 'btn-flat-logo' %>
