<h1 class="crud-title">ナレッジ名：<%= @knowledge.name %></h1>

<div class="function">
  <div>
    <%= link_to 'ティップス', team_knowledge_tips_path(@team.id, @knowledge.id), class: 'next-btn btn shine-btn' %>
  </div>

  <div>
    <%= link_to 'ナレッジ編集', edit_team_knowledge_path(@team, @knowledge), class: 'edit-btn btn' %>
  </div>

  <div>
    <% if @stock.present? %>
      <%= link_to 'ストック解除', team_knowledge_stock_path(@knowledge.team_id, @knowledge, params[:id]), method: :delete, class: 'stock-btn sad' %>
      <div><i class="fa fa-star"></i></div>
    <% else %>
      <%= link_to 'ストック登録', team_knowledge_stocks_path(@knowledge.team_id, @knowledge), method: :post, class: 'stock-btn fine' %>
      <div><i class="fa fa-star-o"></i></div>
    <% end %>
  </div>
</div>

<hr>
<%= link_to '戻る', team_knowledges_path, class: 'btn-flat-logo' %>
