<!DOCTYPE html>
<html>
  <head>
    <title>Reco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <div class="head">
    <% if controller.controller_name == 'tops' || controller.controller_name == 'registrations' || controller.controller_name == 'sessions'%>
      <h1><%= link_to 'Reco!', root_path %></h1>
        <div class="header-menu">
          <% if user_signed_in? %>
            <%= link_to "マイページ", user_path(current_user.id) %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
    <% else %>
      <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar(this)">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="list">
          <div class="item">Reco!</div>
          <div class="item"><%= link_to "マイページ", user_path(current_user.id) %></div>
          <div class="item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="alert-space">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </div>
  </header>


    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
